<% content_for :headjs do %>
    <script src="/assets/js/project.js"></script>
<% end %>

<div class="container">
    <div class="jumbotron banner">
    <!-- <div class="jumbotron banner" style="color: #fff; background-image: url('/assets/img/frontpage.jpg'); background-repeat: no-repeat; "> -->
        <h1>Chi-Hsuan Lin / Solring Lin</h1>
        <h2>Department of Computer Science, National Taiwan University</h2>
        <h2>Taipei, Taiwan</h2>
        <h2>sherry12714@gmail.com</h2>
        <br>
        <h2>Keywords:</h2>
        <p>Android, Linux, Power Saving, F2E</p>
        <p>C, Java, Python, Ruby, Linux</p>
        <p>Photoshop, Illustrator</p>
        <br>
        <h3>//網站施工中~~~</h3>
        <img src="/assets/img/frontpage.jpg" class="bg-image">
    </div>
</div>



<div class="container" id="projects">
    <div class="page-header"><h1>Projects</h1></div>
    <div class="row">
    <% pictures.each do |pic| %>
        <div class="col-xs-4">
            <div class="mythumbnail" id=<%= pic[:id] %>>
                <h2><%= pic[:title] %></h2>
                <img src="<%= pic[:url]%>" class="img-responsive">
            </div>
        </div>
    <% end %>
    </div>
</div>


<div class="container" id="honors">
    <div class="page-header"><h1>Honors</h1></div>
    <ul class="list-group">
        <li class="list-group-item">Member of Phi Tau Phi Scholastic Honor Society <span class='label label-info'>2012.6</span></li>
        <li class="list-group-item">Chu Shun-Yi ZyXEL Scholarship (The 1st place in the department) <span class='label label-info'>2011.3</span></li>
        <li class="list-group-item">The President Scholarship (The 1st place in the class) 
        <span class='label label-info'>2009.3</span> <span class='label label-info'>2010.3</span> <span class='label label-info'>2010.9</span>
        </li>
        <li class="list-group-item">NTHU CS Outstanding Student Scholarship (for newcomers) <span class='label label-info'>2008.9</span></li>
    </ul>
</div>

<div class="container">
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3 class="modal-title">Heading</h3>
                    <div id="toollist"></div>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button class="btn btn-info" href="#">More...</button>
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
