<div class="container">

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit" >
  <h1>Solring Lin...</h1>
<p>Life is a struggle.</p>
<p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="page-header">


<h1>Projects</h1>
</div>

<ul class="thumbnails">
<% pictures.each do |pic| %>
  <li class="span4">
  	<a href="#" class="thumpnail">
  	  <img src="<%= pic%>">
  	</a>
  </li>
<% end %>

</ul>



<!-- Example row of columns -->
<div class="row">
<div class="span4">
  <h2>PaperRank</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  <p><a class="btn" href="/paperrank">View details &raquo;</a></p>
</div>
<div class="span4">
  <h2>AuthorRank</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  <p><a class="btn" href="/authorrank">View details &raquo;</a></p>
</div>
<div class="span4">
  <h2>Trends</h2>
  <p></p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  <p><a class="btn" href="/trends">View details &raquo;</a></p>
</div>
</div>
</div>
